
.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--foreground);
    padding: 10px;
    border-radius: 10px;
}
.buttonGroup{
    display: flex;
    gap: 10px;
}
.counterText{
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}