:root {
  --font-size: 1rem;
  --button-hover-color: #143692;
  --button-text-hover-color: rgb(153, 153, 153);
  --text-color: #ffffff;
}

.button {
  background-color: #225dff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}

.button__text {
  font-size: var(--font-size);
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.button--primary {
  background-color: #225dff;
  color: white;
}
.button--secondary {
  background-color: #ffffff;
  color: #000000;
}
.button--danger {
  background-color: #ff3b30;
  color: white;
}
.button--warning {
  background-color: rgb(255, 187, 0);
  color: white;
}
